<div class="site-header content-block">
  <div class="row">
    <div class="logo">
      <h1 class="logo__container round-50 flex-container flex--center">
        <a href="#" class="logo__link"><i class="logo__icon glyphicon glyphicon-usd"></i></a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="header-nav flex-container center-block">
      <a href="#" class="btn btn-primary">Currency Exchange</a>
      <a href="#" class="btn btn-primary">Live Exchange Rates</a>
      <a href="#" class="btn btn-primary">Historical Data</a>
      <a href="#" class="btn btn-primary">News</a>
    </div>
  </div>
</div>