<div class="site-footer container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Section</h4>
        <ul>
          <li>
            <p>Lorem ipsum dolor sit amet.</p>
          </li>
          <li>
            <p>Minus quibusdam laboriosam veritatis quas.</p>
          </li>
          <li>
            <p>Magni consequuntur ut tempora dolore.</p>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Section</h4>
        <ul>
          <li>
            <p>Eligendi earum esse odit doloribus?</p>
          </li>
          <li>
            <p>Cum nisi hic soluta asperiores?</p>
          </li>
          <li>
            <p>Adipisci rerum voluptas ad eveniet.</p>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Latest News</h4>
        <ul>
          <li>
            <p>Corporis ea sit quidem iusto.</p>
          </li>
          <li>
            <p>Deleniti quis delectus odio pariatur.</p>
          </li>
          <li>
            <p>Id consequatur quas excepturi aliquid.</p>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h4>Follow Us!</h4>
        <div class="social-icons">
          <a href="#" class="icon-footer btn">&nbsp;</a>
          <a href="#" class="icon-footer btn">&nbsp;</a>
          <a href="#" class="icon-footer btn">&nbsp;</a>
        </div>
      </div>
    </div>
  </div>
</div>
